Thola is an easy accessible platform. Also from your side as an event organiser there are not many requirements to take into account. The only two requirements are: BrowserThola is supported by the latest version of the following browsers: Microsoft Edge, Google Chrome, Apple Safari and Mozilla Firefox. Please use one of these browsers to access the platform.* Firefox only offers limited Teams support (install Microsoft Teams client for the best experience) Internet connectionMake sure that you have a stable internet connection.